.account-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: #FD7F42;
  width: 100dvw;
  /*background-color: #FD7F42;
  width: 100vw;
  height: 100dvh; */
}


.account-page-header{
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}


.account-page-body {
  color: black;
  background-color: white;
  flex: 1;
  border-radius: 2rem 2rem 0rem 0rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 1.25rem; */

  align-items: center;
}

.account-page-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  /* min-height: 100dvh; */
}


.my-account {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 2rem;
}

.account-content {
  background-color: white;
  height: 87vh;
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  justify-content: flex-start; /* Aligns content at the top */
}

.account-avatar {
  height: 5.5rem;
  width: 5.5rem;
  background-color: #bbb;
  border-radius: 100%;
  border-width: 2px;
  border: 2px solid #F67C41;
  background-image: url("https://picsum.photos/100");
}

.account-name {
  color: #FCAA48;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.5rem;
  /* margin-bottom: 40px; */
}

.account-choices {
  margin-top: 2.625rem;
  /* padding: 0 2rem; */
  color: black;
  text-align: left;
  line-height: 3;
  width: 100%;
}

.acoount-choice-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
