.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 1px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999;
  }
  
  .nav-item.active {
    color: #ff7a3e;
  }
  
  .nav-icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .icon.active {
    color: #ff7a3e;
  }

  .nav-icon.active {
    color: #ff7a3e;
  }
  
.account-image{
    display: block;
   margin-left: auto;
   margin-right: auto;

}
.scan-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.history-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* .nav-icon.account, */

.nav-label {
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge */
}
